
hr {
    border-color: white;
}

.list-note{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    list-style: none;
    padding: 0;
}

.note{
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ddd;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;

}

.head-note, .footer-in-note{
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
}

.head-note{
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.body-note{
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    color: #6c757d;
}

.footer-in-note{
    position: relative;
    height: 2rem;
    border-top: 1px solid rgba(0,0,0,.125);
}

.icon{
    position: absolute;
    cursor: pointer;
    top: 25%;
}
.i-left{
    left: 10px;
}

.i-right{
    right: 10px;
}

.title-note{
    color: #ddd;
}

.footer-note{
   position: fixed;
   bottom: 2rem;
   right: 1rem;
}

.footer-note i {
    cursor: pointer;
    padding-right:0.5rem ;
    color:#F0C300; 
    font-size: 32px;
}

@media screen and (min-width: 769px) {
    .list-note{
          grid-template-columns: repeat(3, 1fr);
      }

      .footer-note{
        right: 4rem;
     }
     
     .footer-note i {
        cursor: pointer;
        padding-right:0.5rem ;
        color:#F0C300; 
        font-size: 32px;
    }
    
}

/* Media query pour les ordinateurs de bureau */
@media screen and (min-width: 1024px) {
    .list-note{
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-note{
        right: 10rem;
     }

     .footer-note i {
        cursor: pointer;
        padding-right:0.5rem ;
        color:#F0C300; 
        font-size: 40px;
    }
    
}
